@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background:hsl(217, 19%, 24%);
  font-family: 'Manrope',sans-serif;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card{
  background-color: hsl(218, 23%, 16%);
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  position: relative;
}
.title{
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.advice{
  font-size: 16px;
  color: aliceblue;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.divider{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
button{
  position: absolute;
  background: hsl(150, 100%, 66%);
  border-radius: 50%;
  transform: translateX(-50%);
  bottom:-10%;
  border: none;
  padding: 13px 15px;
  cursor: pointer;
  left:50%;
  
}
@media only screen and(max-width:425px){
  .card{
        margin: 0 12px;
            padding: 20px;
  }
}